<div id="comments" class="clearfix" ng-show="showComments()">
	<hr/>
	<h4>Any Questions or Suggestions?</h4>
	<p>Please join the discussion if you're stuck on this topic and need us to clarify something or improve the documentation for you.</p>
	<p>Want to improve this page yourself? Sweet! You can send in a
		<a ng-href="https://github.com/daviddeutsch/aec.valanx.org/blob/master/docs/pages/{{path}}.md" target="_blank">Pull Request on Github</a>.</p>
	<div disqus="'aec.valanx.org/docs/' + path"></div>
</div>
