<div id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix></div>
			</div>
			<div ng-controller="DocCtrl">
				<div class="col-md-8" id="documentation-full">
					<div id="documentation" ng-bind-html="content"></div>

					<div id="comments" ng-hide="hideComments()">
						<hr/>
						<h4>Any Questions?</h4>
						<p>Please join the discussion if you're stuck on this topic and need us to clarify something or improve the documentation for you.</p>
						<div disqus="'http://aec.valanx.org/docs/' + fullpath"></div>
					</div>
				</div>
				<div class="col-md-2">

					<ul class="aec-sidenav nav" bs-scrollspy-list bs-affix>
						<li><h4>{{title}}</h4></li>
						<li ng-repeat="item in sideindex" bs-scrollspy data-target="{{item.id}}" data-offset="180">
							<a scroll-on-click href="#{{item.id}}">{{item.text}}</a>
							<ul class="nav" ng-if="item.children.length">
								<li ng-repeat="child in item.children" bs-scrollspy data-target="{{child.id}}" data-offset="180">
									<a scroll-on-click href="#{{child.id}}">{{child.text}}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
