<div class="aside">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<h4 class="aside-title">
					<a href="http://valanx.org">
						<img src="/assets/img/valanx-logo-red-v-small.png" alt="Valanx"/>
					</a>
					<span>/</span>
					<a href ui-sref="home">
						<img src="/assets/img/aec-logo-red-small.png" alt="AEC"/>
					</a>
					<a href="http://aec.valanx.org/docs">
						/docs
					</a>
				</h4>
			</div>
			<div class="aside-body">
				<div class="clearfix">
					<div class="form-group">
						<div class="input-group">
							<label for="indexFilter" class="sr-only">Search</label>
							<input type="text"
								   class="form-control"
								   name="indexFilter"
								   id="indexFilter"
								   ng-model="indexFilter"
								   placeholder="search" />
							<div class="input-group-addon"><i class="fa fa-search"></i></div>
						</div>
					</div>
				</div>
				<ul class="list-unstyled">
					<li ng-repeat="page in pages | filter:indexFilter" class="am-fade-and-slide-right">
						<a
							ng-click="switchPage(page.path)"
							ng-class="{active: page.path === path}"
							bs-popover
							data-template="partials/doc.aside.tooltip.html"
							>
							<span class="index-page-title">{{page.title}}</span>
						</a>
						<!-- TODO: Display popover of children on hover -->
						<ul ng-if="page.children && (((page.path.split('/')[0] == path.split('/')[0])) || indexFilter)">
							<li ng-repeat="child in page.children | filter:indexFilter">
								<a
									ng-click="switchPage(child.path)"
									ng-class="{active: child.path === path}"
									>
									<span class="index-page-title">{{child.title}}</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
