<div id="main">
	<div class="container">
		<div class="row">
			<div class="col-lg-2 col-md-3 col-sm-0 col-xs-0">
				<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix></div>
			</div>
			<div ng-controller="DocCtrl">
				<div class="col-lg-8 col-md-7 col-sm-12" id="documentation-full">
					<div id="content-inner" ng-bind-html="content" class="am-fade" ng-if="docready">
					</div>
					<div ng-hide="(siblings.previous.title == '') && (siblings.next.title == '')">
						<br/>
						<br/>
						<div id="pager" class="col-md-12 clearfix">
							<div class="col-md-6">
								<a class="btn btn-sm btn-danger" ui-sref="docs({path:siblings.previous.path})" ng-if="siblings.previous.title != ''">
									<i class="fa fa-arrow-left"></i>&nbsp;{{siblings.previous.title}}
								</a>
							</div>
							<div class="col-md-6 text-right">
								<a class="btn btn-sm btn-danger" ui-sref="docs({path:siblings.next.path})" ng-if="siblings.next.title != ''">
									{{siblings.next.title}}&nbsp;<i class="fa fa-arrow-right"></i>
								</a>
							</div>
						</div>
					</div>
					<br/>
					<br/>
					<br/>
					<br/>
					<div id="comments" class="col-md-12 clearfix" ng-show="showComments()">
						<h4>Any Questions or Suggestions?</h4>
						<p>Please join the discussion if you're stuck on this topic and need us to clarify something or improve the documentation for you.</p>
						<p>Want to improve this page yourself? Sweet! You can send in a
							<a ng-href="https://github.com/daviddeutsch/aec.valanx.org/blob/master/docs/pages/{{path}}.md" target="_blank">Pull Request on Github</a>.</p>
						<div disqus="'aec.valanx.org/docs/' + path"></div>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 hidden-sm hidden-xs">
					<ul class="aec-sidenav nav am-fade-and-slide-left" ng-show="sideindex.length" bs-scrollspy-list bs-affix>
						<li><h4>{{pagetitle}}</h4></li>
						<li ng-repeat="item in sideindex" bs-scrollspy data-target="{{item.id}}" data-offset="180">
							<a scroll-on-click href="#{{item.id}}"><span ng-bind-html="item.text"></span></a>
							<ul class="nav" ng-if="item.children.length">
								<li ng-repeat="child in item.children" bs-scrollspy data-target="{{child.id}}" data-offset="180">
									<a scroll-on-click href="#{{child.id}}"><span ng-bind-html="child.text"></span></a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
