<div class="aside" ng-class="{'aside-collapsed': !extended}" ng-mouseenter="hoverEnter()" ng-mouseleave="hoverLeave()">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<h4 class="aside-title">
					<a href="http://valanx.org">
						<img src="/assets/img/valanx-logo-red-v-small.png" alt="Valanx"/>
					</a>
					<a href ui-sref="home">
						<span>/</span>
						<img src="/assets/img/aec-logo-red-small.png" alt="AEC"/>
					</a>
					<a href ui-sref="docs({path:'start/welcome'})">
						/docs
					</a>
				</h4>
			</div>
			<div class="aside-body" ng-class="{'aside-body-collapsed': !extended}">
				<div class="form-group">
					<label for="indexFilter" class="sr-only">Search</label>
					<button ng-click="indexFilter = ''" ng-class="{'clickable': indexFilter!=''}">
						<i class="fa" ng-class="{'fa-search': indexFilter=='', 'fa-times': indexFilter!=''}"></i>
					</button>
					<input type="text"
						   class="form-control"
						   name="indexFilter"
						   id="indexFilter"
						   ng-model="indexFilter"
						   ng-model-options="{ debounce: {'default': 140} }"
						   placeholder="search" />
				</div>
				<ul class="list-unstyled">
					<li ng-repeat="page in pages | filter:indexFilter" class="am-fade-and-slide-right">
						<a
							ng-click="switchPage(page.path)"
							ng-class="{active: page.path === path}"
							>
							<span class="index-page-title">{{page.title}}</span>
						</a>
						<!-- TODO: Display popover of children on hover -->
						<ul ng-if="page.children && (((page.path.split('/')[0] == path.split('/')[0])) || indexFilter)">
							<li ng-repeat="child in page.children | filter:indexFilter">
								<a
									ng-click="switchPage(child.path)"
									ng-class="{active: child.path === path}"
									>
									<span class="index-page-title">{{child.title}}</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
				<br/><br/>
				<div class="alert alert-warning">
					<h4>Please note:</h4>
					<p>
						This manual is currently
						<a ui-sref="stats">work in progress</a>
					</p>
				</div>
			</div>

		</div>
	</div>
	<div class="aside-switch" ng-class="{'aside-switch-fixed': extendedPreference && extended}">
		<button class="btn btn-default" ng-click="toggleOpen()">
			<i class="fa" ng-class="{'fa-angle-double-up': extendedPreference && extended, 'fa-angle-double-down': !extendedPreference && extended, 'fa-angle-down': !extendedPreference && !extended}"></i>
		</button>
	</div>
</div>
