<div id="main">
	<div class="container">
		<div class="row">
			<div class="col-md-2">
				<div class="bs-sidebar hidden-print" role="complementary" data-offset-top="-80" bs-affix></div>
			</div>
			<div class="col-md-8">
				<div ng-controller="DocCtrl">
					<div marked ng-include="'/docs/' + fullpath + '.md'" id="documentation"></div>

					<div id="comments" ng-hide="loading">
						<hr/>
						<h4>Any Questions?</h4>
						<p>Please join the discussion if you're stuck on this topic and need us to clarify something or improve the documentation for you.</p>
						<div disqus="'http://aec.valanx.org/docs/' + id">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
