<div class="aside">
	<div class="aside-dialog">
		<div class="aside-content">
			<div class="aside-header">
				<h4 class="aside-title">
					<a href="http://valanx.org">
						<img src="/assets/img/valanx-logo-red-v-small.png" alt="Valanx"/>
					</a>
					<span>/</span>
					<a href ui-sref="home">
						<img src="/assets/img/aec-logo-red-small.png" alt="AEC"/>
					</a>
					<a href="http://aec.valanx.org/docs">
						/docs
					</a>
				</h4>
			</div>
			<div class="aside-body">
				<ul class="list-unstyled">
					<li ng-repeat="page in pages" class="am-fade-and-slide-right">
						<a href ui-sref="{id:page.handle}" ng-class="{active: $parent.id.value === page.handle}">
							<span class="index-page-index">{{$index}}</span>
							<span> - </span>
							<span class="index-page-title">{{page.title}}</span>
						</a>
						<!-- TODO: Display popover of children on hover -->
						<ul ng-if="page.children">
							<li ng-repeat="child in page.children">
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
