<div id="main">
	<div class="container">
		<div class="row">
			<div ng-controller="HomeCtrl" id="home-top">
				<div class="col-lg-2 col-lg-offset-1 col-md-offset-0">
					<p class="text-center">
						<img src="assets/img/aec-logo-white-dropshadow.png" alt=""/>
					</p>
				</div>
				<div class="col-lg-7 col-lg-offset-1">
					<h1>
						The <strong>most versatile</strong>
						<br/>membership management
					</h1>
					<h3>
						for <i class="fa fa-joomla"></i> <strong>1.5 - 3.&times;</strong>
					</h3>
					<ul>
						<li>
							<a scroll-on-click href="#start" offset="-80">
								<img src="assets/img/icon-down.png" alt=""/>
								<br/>
								Learn more
							</a>
						</li>
						<li>
							<a ui-sref="docs({path:'start/welcome'})">
								<img src="assets/img/icon-window.png" alt=""/>
								<br/>
								Manual
							</a>
						</li>
						<li>
							<a href="http://valanx.org/index.php?option=com_acctexp&amp;task=subscribe">
								<img src="assets/img/icon-rocket.png" alt=""/>
								<br/>
								Get it now
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="start"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img class="fullwidth" src="assets/img/aec-admin-home-faded.png" alt=""/>
		</div>
		<div class="col-md-12">
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<h2>What makes AEC the <strong>most versatile</strong> membership management?</h2>
		<div class="col-md-3">
			<h3>--</h3>
			<p></p>
		</div>
		<div class="col-md-3">
			<h3>Tons of Integrations</h3>
			<p>
				With over
				<a scroll-on-click href="#integrations-list" offset="-80">80 components and services</a>
				and <a scroll-on-click href="#processors" offset="-80">70 payment processors</a>
				supported, AEC offers you the functionality to <strong>turn simple memberships into functionality powerhouses</strong>. </p>
		</div>
		<div class="col-offset-2 col-md-4">
			<img class="fullwidth" src="assets/img/feature-ring.png" alt=""/>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-9">
			<h3>What can you do with it?</h3>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Charge for access to parts of your website</h4>
				</div>
				<div class="panel-body">
					<p>With AEC, it is dead simple to ask for a registration fee. Just create a basic membership plan and integrate AEC with your registration. New users will have to pay to get in and existing users will be asked to pay on their next login.</p>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Collect donations on your blog</h4>
				</div>
				<div class="panel-body">
					<p>Since all the restrictions AEC imposes can be made optional, it is simple to make registration payments voluntary. And with the Donation MI, you can even let your users decide what they want to pay.</p>
				</div>
			</div>

			<div class="panel panel-info">
				<div class="panel-heading">
					<h4>Sell Downloads</h4>
				</div>
				<div class="panel-body">
					<p>Through its component Integration, AEC gives you the power to influence other software packages. So if you want to sell downloads from within DocMan - You can do just that!</p>
				</div>
			</div>

		</div>
		<div class="col-md-3">
			<h3>&nbsp;</h3>
			<div class="popover top-right popover-static">
				<div class="arrow"></div>
				<div class="popover-content">
					<p><strong>AEC is leagues ahead of anything else, and is so easy to use.</strong></p>
				</div>
			</div>

			<br/>

			<p class="text-right">- NicMason</p>

			<br/>

			<div class="popover top-right popover-static">
				<div class="arrow"></div>
				<div class="popover-content">
					<p><strong>it's a must for a subscription site. i love it</strong></p>
				</div>
			</div>

			<br/>

			<p class="text-right">- 10 years after</p>

			<br/>

			<div class="popover top-right popover-static">
				<div class="arrow"></div>
				<div class="popover-content">
					<p><strong>I’ve been using this component for almost a year now and would highly recommend it for anyone that requires this kind of functionality.<br/>
						We’ve processed over 35000 payments through AEC and it’s done everything we have asked of it.</strong></p>
				</div>
			</div>

			<br/>

			<p class="text-right">-  jongittoes</p>

			<br/>

			<div class="popover top-right popover-static">
				<div class="arrow"></div>
				<div class="popover-content">
					<p><strong>AEC is sort of the defining component for our installation</strong></p>
				</div>
			</div>

			<br/>

			<p class="text-right">- blewis</p>

			<br/>

			<div class="popover top-right popover-static">
				<div class="arrow"></div>
				<div class="popover-content">
					<p><strong>This component is all that you would want from a subscription manager. Its support for JACL groups and the microintegration capability with other major components such as Docman is what makes this component absolutely THE BEST of the lot.</strong></p>
				</div>
			</div>

			<br/>

			<p class="text-right">- mohaneesh</p>

			<br/>

			<p>Find more user voices on the AEC on the <a href="http://extensions.joomla.org/extensions/10723">Joomla Extensions directory</a></p>
		</div>
	</div>
</div>

<div class="fullwidth-background content-bg-container carina-inject-mystic-mt">
	<div class="slash-constraint-left"></div>
	<div class="slash-constraint-right"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1 class="impact">No<br/>Limits</h1>
			</div>
			<div class="col-md-7 col-md-offset-1">
				<ul>
					<li>&hellip;on membership plans</li>
					<li>&hellip;on memberships per user</li>
					<li>&hellip;on how many users you have</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<h2>Professional featureset</h2>
		<div class="col-md-3">
			<h3>Powerful Restrictions</h3>
			<p>You can restrict Access to Payment Plans, Groups and Coupons by any details of the user account (usergroup or access level, userid...) or the membership history ("only allow users of the Silver Membership buy the Gold Membership")</p>
		</div>
		<div class="col-md-3">
			<h3>Flexible Coupons</h3>
			<p>Fixed Price or Percent discounts, - AEC</p>
		</div>
	</div>
</div>

<div class="fullwidth-background content-bg-container carina-inject-colorful">
	<div class="slash-constraint-left"></div>
	<div class="slash-constraint-right"></div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="impact">Integrate with</h1>
			</div>
			<div class="col-md-4 col-md-offset-1">
				<h1 class="superimpact">80+</h1>
				<h3>components and services</h3>
			</div>
			<div class="col-md-4 col-md-offset-2">
				<h1 class="superimpact">70+</h1>
				<h3>payment processors</h3>
			</div>
		</div>
	</div>
</div>

<div class="container" id="integrations">
	<div class="row">
		<div class="col-md-12">
			<h2>Integrate with other software and services</h2>
			<div class="col-md-6">
				<h3>More than 80 Integrations</h3>
				<p>With MIs, you can attach additional functionality to your plans and groups. Like a Plugin system, they carry out actions on certain points during a subscription.</p>
			</div>
			<div class="col-md-6">
				<h3>Boundless Flexibility</h3>
				<p>With locally controlled Instances of MIs, additional functionality is simple to set up and easy to maintain.</p>
				<p>Below is an overview of existing Integrations:</p>
			</div>
		</div>
		<div id="integrations-list">
			<div class="col-md-12" ng-controller="IntegrationsCtrl">
				<div class="panel panel-info">
					<div class="panel-heading">Narrow down your results</div>
					<div class="panel-body">
						<div class="col-md-6">
							<ul class="nav nav-pills">
								<li ng-repeat="node in types" ng-class="{'active': node.handle == type}">
									<a href="#" ng-click="toggleType(node.handle)">{{node.handle}}</a>
								</li>
							</ul>
						</div>
						<div class="col-md-6">
							<br/>
							<div class="form-group form-focus">
								<div class="input-group">
									<div class="input-group-addon"><i class="fa fa-search"></i></div>
									<input type="text"
										   class="text-center form-control"
										   ng-model="searchText"
										   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 180, 'blur': 0} }"
										   placeholder="search" />
									<div class="input-group-addon">{{(mis | filter:{type: type} | filter:searchText).length}} Integrations</div>
								</div>
							</div>
							<br/>
							<ul class="nav nav-pills text-center">
								<li ng-if="type">
									<a href="#" ng-click="toggleType('')">{{type}} &times;</a>
								</li>
								<li ng-if="type && searchText">
									<a href="" disabled="disabled"><strong>+</strong></a>
								</li>
								<li ng-if="searchText">
									<a href="#" ng-click="eraseSearch()">{{searchText}} &times;</a>
								</li>
							</ul>
						</div>

						<div class="col-md-12">
							<div class="col-md-3 am-fade-and-slide-top" ng-repeat="mi in mis | filter:{type: type} | filter:searchText">
								<div>
									<h6>{{mi.name}}</h6>
									<p>{{mi.desc}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>


			</div>
		</div>
		<div class="col-md-12" id="processors">
			<h2>Supported Payment Processors</h2>
			<div class="col-md-6">
				<h3>More than 70 Processors</h3>
				<p>...are already built into AEC. So whatever service you want to use - chances are that you can already dive in.</p>
				<p>We have compiled a list of processors that we have currently integrated:</p>
			</div>
			<div class="col-md-6">
				<h3>Offline Processing</h3>
				<p>We also offer an integration called Offline Processing - with this, you can tell your customers where to send the money on a more traditional way (like mailing checks, or doing a wire transfer). Be advised that you will of course have some manual processing to do with that one.</p>
			</div>
		</div>
		<div class="col-md-12" ng-controller="ProcessorsCtrl">
			<div class="col-md-6 col-md-offset-3 clearfix">
				<br/><br/>
				<div class="form-group form-focus">
					<div class="input-group">
						<div class="input-group-addon"><i class="fa fa-search"></i></div>
						<input type="text"
							   class="text-center form-control"
							   ng-model="searchText"
							   ng-model-options="{ updateOn: 'default blur', debounce: {'default': 180, 'blur': 0} }"
							   placeholder="search" />
						<div class="input-group-addon">{{(processors|filter:searchText).length}} Processors</div>
					</div>
				</div>
				<br/>
			</div>
			<div class="col-md-12">
				<ul id="processors-list">
					<li ng-repeat="processor in processors | filter:searchText" class="am-fade-and-slide-top">
						<div class="processor-sprite processor-sprite-pos-{{processor.handle}}"></div>
						<h4>{{processor.name}}</h4>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
