<div ng-controller="HomeCtrl" id="home-top">
	<div class="col-md-2 col-md-offset-1">
		<p class="text-center">
			<img src="/assets/img/aec-logo-white-dropshadow.png" alt=""/>
		</p>
	</div>
	<div class="col-md-7 col-md-offset-1">
		<h1>The most advanced <strong>membership management system</strong> for Joomla!</h1>
		<ul>
			<li>
				<a ui-sref="docs">
					<img src="/assets/img/icon-down.png" alt=""/>
					<br/>
					Tour
				</a>
			</li>
			<li>
				<a ui-sref="docs">
					<img src="/assets/img/icon-manual.png" alt=""/>
					<br/>
					Documentation
				</a>
			</li>
			<li>
				<a href="http://valanx.org/index.php?option=com_acctexp&amp;task=subscribe">
					<img src="/assets/img/icon-manual.png" alt=""/>
					<br/>
					Get it now
				</a>
			</li>
		</ul>
	</div>
</div>
