<div ng-hide="(siblings.previous.title == '') && (siblings.next.title == '')">
	<br/>
	<br/>
	<div class="pager col-md-12 clearfix">
		<div class="col-md-6">
			<a class="btn btn-sm btn-danger" ng-click="switchPage(siblings.previous.path)" ng-if="siblings.previous.title != ''">
				<i class="fa fa-arrow-left"></i>&nbsp;{{siblings.previous.title}}
			</a>
		</div>
		<div class="col-md-6 text-right">
			<a class="btn btn-sm btn-danger" ng-click="switchPage(siblings.next.path)" ng-if="siblings.next.title != ''">
				{{siblings.next.title}}&nbsp;<i class="fa fa-arrow-right"></i>
			</a>
		</div>
	</div>
</div>
