@import "bootstrap.less";
@import "bootswatch.less";

.aside {
	background: #aaa;
	font-family: @font-family-sans-serif;
	& &-dialog &-header {
		background: #eee;
		h4 {
			font-size: 34px;
			color: #333;
			img {
				vertical-align: top;
			}
			span {
				color: #222;
			}
			a {
				text-decoration: none;
				.transition(400ms ease-in-out);
				&:hover {
					text-decoration: none;
					margin-bottom: 2px;
				}
			}
		}
	}
	& &-dialog &-body {
		padding: 24px 24px;
		ul {
			font-size: 120%;
			li {
				margin-bottom: 12px;
			}
		}
		a {
			text-decoration: none;
			.transition(400ms ease-in-out);
			&:hover {
				text-decoration: none;
			}
			&.active {
				font-weight: 700;
			}
		}
	}
}

a {
	color: #222;
	&:hover {
		color: #d43f3a;
	}
}

.index-page-index {
	display: inline-block;
	text-align: right;
	width: 2em;
}

.page-home {
	height: 100%;
}

.fa {
	vertical-align: middle;
}

#home-top {
	padding-top: 30%;
	margin-bottom: 70%;
	color: #fff !important;
	text-shadow: 0 2px 2px rgba(0,0,0,1);
	height: 100%;
	img {
		display: inline-block;
	}
	h1 {
		font-size: ceil((@font-size-h1 * 1.25));
		font-weight: 400;
		text-align: center;
	}
	h3 {
		font-size: ceil((@font-size-h3 * 0.95));
		text-align: center;
		font-weight: 200;
		margin-top: 12px;
		opacity: 0.85;
		.transition(400ms);
		&:hover {
			opacity: 1;
		}
	}
	ul {
		margin-top: 24px;
		padding-left: 0;
		width: 100%;
		text-align: center;
		li {
			display: inline-block;
			text-align: center;
			img {
				margin-bottom: 24px;
			}
			a {
				display: inline-block;
				font-family: @font-family-sans-serif;
				font-size: ceil((@font-size-large * 1.25));
				text-align: center;
				color: #fff;
				font-weight: 600;
				width: 180px;
				padding: 24px 12px;
				float: left;
				margin-right: 24px;
				margin-top: 24px;
				margin-bottom: 0;
				background: rgba(255,255,255,0.3);
				box-shadow: 0 3px 2px rgba(0,0,0,0.5),
					0 -2px 0 rgba(255,255,255,0.5) inset,
					0 8px 12px rgba(255,255,255,0.1);
				.transition(400ms);
				border-radius: 2px;
				border: 1px solid rgba(255,255,255,0);
				&:hover {
					text-decoration: none;
					margin-top: 22px;
					margin-bottom: 2px;
					background: rgba(255,255,255,0.5);
					border-bottom: 1px solid rgba(255,255,255,0.6);
					border-left: 1px solid rgba(255,255,255,0.3);
					border-right: 1px solid rgba(255,255,255,0.3);
					box-shadow: 0 3px 2px rgba(0,0,0,0.5),
						0 -3px 0 rgba(255,255,255,0.5) inset,
						0 8px 12px rgba(255,255,255,0.1);
				}
			}
			&:last-of-type a {
				margin-right: 0;
			}
		}

	}
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fullwidth-background {
	position: absolute;
	width: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #000;
	box-shadow: 0 0 48px rgba(0,0,0,0.9) inset;
}

.carina-full {
	height: 100%;
	background-image: url(../img/carina-nebula-dark-red.jpg);
}

.content-bg-container {
	float: left;
	position: relative;
	margin: 96px 0;
	padding-bottom: 42px;
	left: 0;
	clear: both;

	color: #fff;
	text-shadow: 0 2px 2px rgba(0,0,0,1);

	h1.impact {
		margin-top: 0.6em;
		text-align: center;
		font-size: ceil((@font-size-h1 * 2.5));
		font-weight: 900;
		text-shadow: 0 4px 2px rgba(0,0,0,1), 0 2px 0 rgba(0,0,0,1);
	}

	h1.superimpact {
		margin-top: 0.2em;
		text-align: center;
		font-size: ceil((@font-size-h1 * 4));
		font-weight: 900;
		text-shadow: 0 6px 4px rgba(0,0,0,1), 0 2px 0 rgba(0,0,0,1);
	}

	h3 {
		text-align: center;
	}

	ul {
		margin-top: 96px;
		li {
			font-family: @font-family-sans-serif;
			font-size: @font-size-h3;
			list-style: none;
			margin-bottom: 1em;
			font-weight: 700;
		}
	}
}

.carina-inject-mystic-mt {
	background-image: url(../img/carina-nebula-mystic-mt.jpg);
}

.carina-inject-colorful {
	background-image: url(../img/carina-nebula-colorful.jpg);
}

#comments {
	margin-top: 120px;
	min-height: 400px;
}
