@import "bootstrap.less";
@import "bootswatch.less";

.aside {
	background: #aaa;
	& &-dialog &-header {
		background: #eee;
		h4 {
			font-size: 34px;
			color: #333;
			img {
				vertical-align: top;
			}
		}
	}
}
