@import "bootstrap.less";
@import "bootswatch.less";

.aside {
	background: #aaa;
	font-family: @font-family-sans-serif;
	& &-dialog &-header {
		background: #eee;
		h4 {
			font-size: 34px;
			color: #333;
			img {
				vertical-align: top;
			}
			span {
				color: #222;
			}
			a {
				text-decoration: none;
				.transition(400ms ease-in-out);
				&:hover {
					text-decoration: none;
					margin-bottom: 2px;
				}
			}
		}
	}
	& &-dialog &-body {
		padding: 24px 24px;
		ul {
			font-size: 120%;
			li {
				margin-bottom: 12px;
			}
		}
		a {
			text-decoration: none;
			.transition(400ms ease-in-out);
			&:hover {
				text-decoration: none;
			}
		}
	}
}

a {
	color: #222;
	&:hover {
		color: #d43f3a;
	}
}

.index-page-index {
	display: inline-block;
	text-align: right;
	width: 2em;
}
